/*FOOTER*/
.piePagina {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-image: map-get($colores, gradientFooter);
    height: 80px;
    color: white;
    h3 {
        font-size: 30px;
    }
    div p a {
        text-decoration: none;
        color: white;
    }
}

.buttonIg {
    background: #c13584;
    padding: 8px;
    border: 0;
    border-radius: 6px;
    border-bottom: 2px solid #e1306c;
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 2px black;
    width: 80px;
    &:hover {
        filter: saturate(150%);
        border-color: white;
    }
}

.buttonFb {
    background: #3b5998;
    padding: 8px;
    border: 0;
    border-radius: 6px;
    border-bottom: 2px solid #5075c4;
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 2px black;
    width: 80px;
    &:hover {
        filter: saturate(150%);
        border-color: white;
    }
}

.buttonTw {
    background: #1DA1F2;
    padding: 8px;
    border: 0;
    border-radius: 6px;
    border-bottom: 2px solid #47b9ff;
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 2px black;
    width: 80px;
    &:hover {
        filter: saturate(150%);
        border-color: white;
    }
}
/*FIN-FOOTER*/