/*MAIN*/
.contenido {
    grid-area: main;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    section {
        text-align: center;
        p {
            margin: 0 auto;
            justify-content: center;
            align-items: center;
            width: 40%;
            font-size: map-get($fonts, mainText);
            padding: 10px;
        }
    }
    h4 {
        font-size: 40px;
    }
    .imgContenido {
        width: 300px;
        height: 240px;
    }
    .imgNoticias {
        width: 400px;
        height: 300px;
    }
}

.contenidoExperiencias {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    section {
        p {
            margin: 0 auto;
            justify-content: center;
            align-items: center;
            width: 400px;
            font-size: map-get($fonts, mainText);
        }
    }
}

.noticias {
    padding: 10px;
    h2 {
        font-size: 50px;
        text-decoration: underline;
        color: crimson;
    }
    div {
        padding-top: 20px;
        h3 {
            font-size: 30px;
        }
        p {
            font-size: 18px;
            a {
                text-decoration: none;
                color: crimson;
                font-weight: bold;
            }
        }
    }
}

#parrafoExperiencias {
    width: 300px;
    font-size: map-get($fonts, secondaryText);
}

.ciudades {
    display: flex;
    flex-flow: row wrap;
    width: 850px;
}

.video {
    width: 500px;
    height: 300px;
}

.imageDestino {
    width: 400px;
    height: 200px;
}

.imgRoma {
    @include destinos ($imgBorder: crimson);
}

.imgMilan {
    @include destinos ($imgBorder: black);
}

.imgBarcelona {
    @include destinos ($imgBorder: blue);
}

.imgMadrid {
    @include destinos ($imgBorder: yellow);
}

.imageExperiencias {
    animation-name: avionExperiencias;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 10s;
    animation-delay: 2s;
    width: 150px;
    transition: 1s;
}

.maps {
    width: 600px;
    height: 400px;
}

.consejosText {
    padding-bottom: 50px;
    padding-top: 30px;
    font-size: 25px;
    h2 {
        font-size: 50px;
    }
    h3 {
        padding-bottom: 20px;
        padding-top: 20px;
    }
    p {
        line-height: 30px;
        padding-bottom: 20px;
    }
}

.iconConsejos {
    width: 100px;
    height: 100px;
}

/*FIN-MAIN*/

/*ANIMACION*/
@keyframes avionExperiencias {
    25%{ rotate: 40deg; }
    50%{ rotate: 50deg;}
    75%{ rotate: 30deg;}
    90%{ rotate: 10deg;}
    100%{rotate: 0deg;}
}
/*FIN-ANIMACION*/