$colores: (
    maincolor: crimson,
    gradientNav: linear-gradient(to bottom, #7a2323, #852525, #8f2727, #9a2828, #a52a2a),
    gradientFooter: linear-gradient(to top, #000000, #101010, #191919, #232323, #2c2c2c)
);

$fonts: (
    mainText: 30px,
    secondaryText: 20px
);