@media screen and (max-width: 768px) {
    .barraMenu {
        flex-direction: row-reverse;
        padding-right: 15px;
        div {
            ul{
                display: none;
                position:absolute;
                top: 80px;
                width: 100%;
                height: 100vh;
                background: rgba(0, 0, 0, .9);
                text-align: center;
                li {
                    display: block;
                    margin: 0;
                    padding: 10px;
                    list-style: none;
                }
            }
            label {
                display: block;
            }
            input:checked  ~ ul{
                display:block;
            }
        }
    }

    .iconNav {
        margin-left: 20px;
    }

    .navIconTitle {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .titleNav {
        font-size: 30px;
        text-shadow: 1px 1px 3px black;
        padding-right: 5px;
    }

    .logo {
        width: 20px;
    }

    .titulo {
        h1 {
            font-size: 40px;
            text-shadow: 3px 3px 3px black;
        }
        h3 {
            font-size: 20px;
            text-shadow: 3px 3px 3px black;
        }
    }

    .contenido {
        padding: 30px;
        section {
            p {
                width: 200px;
                font-size: 20px;
                padding-bottom: 30px;   
            }
        }
    }

    .contenidoExperiencias {
        section {
            p {
                width: 200px;
                font-size: 20px;
            }
        }
    }
    
    .video {
        width: 300px;
        height: 200px;
    }

    .imageDestino {
        width: 250px;
        height: 100px;
        padding: 1px;
    }

    .imgRoma {
        @include destinosMQ;
    }

    .imgMilan {
        @include destinosMQ;
    }

    .imgBarcelona {
        @include destinosMQ;
    }

    .imgMadrid {
        @include destinosMQ;
    }

    .ciudades {
        width: auto;
    }

    .formularioItem {
        font-size: 15px;
    }

    .formularioMain {
        padding: 0;
        padding-top: 40px;
        padding-bottom: 40px;
        section {
            width: 300px;
            h3 {
                font-size: 30px;
            }
        }
    }
    
    #formularioFieldset {
        border: 3px solid crimson;
    }
    
    #submit {
        font-size: 15px;
    }
    
    #reset {
        font-size: 15px;
    }
    
    .formularioSubmit {
        font-size: 15px;
    }

    .piePagina {
        flex-direction: column;
        height: 100px;
    }

    %botonRedes {
        padding: 4px;
        border-radius: 3px;
        font-size: 15px;
        text-shadow: 1px 1px 1px black;
        width: 60px;
    }

}

@media screen and (min-width: 768px){
    .barraMenu {
        div {
            ul {
                display: flex;
                padding-right: 20px;
                text-decoration: none;
                li {
                    list-style: none;
                    text-decoration: none;
                    margin: 10px;
                    color: white;
                }
            }
            label {
                display: none;
            }
        }
    }
}