@media screen and (max-width: 768px) {
    .barraMenu {
        flex-direction: row-reverse;
        padding-right: 15px;
        div {
            ul{
                display: none;
                position:absolute;
                top: 80px;
                width: 100%;
                height: 100vh;
                background: rgba(0, 0, 0, .9);
                text-align: center;
                li {
                    display: block;
                    margin: 0;
                    padding: 10px;
                    list-style: none;
                }
            }
            label {
                display: block;
            }
            input:checked  ~ ul{
                display:block;
            }
        }
    }

    .iconNav {
        margin-left: 20px;
    }

    .navIconTitle {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .titleNav {
        font-size: 30px;
        text-shadow: 1px 1px 3px black;
        padding-right: 5px;
    }

    .logo {
        width: 20px;
    }

    .titulo {
        h1 {
            font-size: 60px;
            text-shadow: 3px 3px 3px black;
        }
        h2 {
            font-size: 40px;
            text-shadow: 3px 3px 3px black;
        }
    }

    .contenido {
        padding: 30px;
        width: 100%;
        section {
            p {
                width: 80%;
                font-size: 20px;
                padding-bottom: 30px;   
            }
        }
        .imgContenido {
            width: 200px;
            height: 100px;
        }
        .imgNoticias {
            width: 300px;
            height: 200px;
        }
    }

    .contenidoExperiencias {
        section {
            p {
                width: 80%;
                font-size: 20px;
            }
        }
    }
    
    .imageDestino {
        width: 250px;
        height: 100px;
        padding: 1px;
    }

    .imgRoma {
        @include destinosMQ ($imgBorder: crimson);
    }

    .imgMilan {
        @include destinosMQ ($imgBorder: black);
    }

    .imgBarcelona {
        @include destinosMQ ($imgBorder: blue);
    }

    .imgMadrid {
        @include destinosMQ ($imgBorder: yellow);
    }

    .ciudades {
        width: auto;
    }

    .formularioMain {
        padding: 0px;
        padding-top: 40px;
        padding-bottom: 40px;
        section {
            width: 80%;
            h3 {
                font-size: 30px;
            }
            form {
                display: flex;
                flex-direction: column;
                border: 3px outset $colorPrincipal;
                border-radius: 12px;
                padding: 10px;
                label {
                    font-size: 15px;
                }
                input {
                    font-size: 15px;
                }
            }
        }
    }

    .formularioSubmit {
        font-size: 15px;
    }

    .submit {
        font-size: 15px;
    }
    
    .reset {
        font-size: 15px;
    }
    
    .piePagina {
        flex-direction: column;
        height: 100px;
    }

    %botonRedes {
        padding: 4px;
        border-radius: 3px;
        font-size: 15px;
        text-shadow: 1px 1px 1px black;
        width: 60px;
    }

    .imgRoma {
        @include destinosMQ ($imgBorder: crimson)
    }
    
    .imgMilan {
        @include destinosMQ ($imgBorder: black)
    }
    
    .imgBarcelona {
        @include destinosMQ ($imgBorder: blue)
    }
    
    .imgMadrid {
        @include destinosMQ ($imgBorder: yellow)
    }

    .maps {
        width: 300px;
        height: 100px;
    }
}

@media screen and (min-width: 768px){
    .barraMenu {
        div {
            ul {
                display: flex;
                padding-right: 20px;
                text-decoration: none;
                li {
                    list-style: none;
                    text-decoration: none;
                    margin: 10px;
                    color: white;
                }
            }
            label {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .barraMenu {
        div {
            ul {
                li {
                    a {
                        font-size: 20px;
                        text-shadow: 1px 1px 1px black;
                        &:hover {
                            text-shadow: 3px 3px 5px black;
                        }
                    }
                }
            }
        }
    }

    .piePagina {
        div {
            a {
                font-size: 15px;        
            }
        }
    }
}