@mixin destinos($imgBorder) {
    width: 400px;
    height: 200px;
    padding: 2px;
    transition: 0.5s;
    &:hover {
        transform: scale(1.05);
        border-style: solid;
        border-color: $imgBorder;
    }
}

@mixin destinosMQ {
    width: 250px;
    height: 100px;
    padding: 1px;
}