@mixin destinos($imgBorder) {
    width: 400px;
    height: 200px;
    padding: 2px;
    transition: 0.5s;
    &:hover {
        transform: scale(1.05);
        border-style: solid;
        border-color: $imgBorder;
    }
}

<<<<<<< HEAD
@mixin destinosMQ($imgBorder) {
    width: 200px;
    height: 100px;
    padding: 2px;
    &:hover {
        transform: scale(1.05);
        border-style: solid;
        border-color: $imgBorder;
    }
=======
@mixin destinosMQ {
    width: 250px;
    height: 100px;
    padding: 1px;
>>>>>>> e69c3da81edccf1883a3774d5495f0a6a78b971d
}