.barraMenu {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    background-image: $backgroundNav;
    height: 80px;
    div {
        align-self: center;
        ul {
            li {
                a {
                    text-decoration: none;
                    color: white;
                    font-size: 28px;
                    text-shadow: 2px 2px 10px black;
                    &:hover {
                        text-shadow: 5px 5px 7px black;
                    }
                }
            }
        }
    }
    input {
        display: none;
    }
    label {
        display: block;
        height: 30px;
        width: 30px;
        border: 1px solid white;
        border-radius: 5px;
        color: white;
        font-size: 20px;
        text-align: center;
        cursor: pointer;
    }
}

.navIconTitle {
    padding-left: 20px;
}

.logo {
    width: 30px;
    height: 30px;
    filter: invert(1);
}

.titleNav {
    font-size: 50px;
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 5px black;
    padding-left: 5px;
}