* {
    margin: 0px;
    padding: 0px;
    font-family: TW Cen MT;
}

@font-face {
    font-family: TW Cen MT;
    src: url(../fonts/TCCM____.TTF);
}

#grilla {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
    "nav"
    "header"
    "main"
    "footer";
}

@import "./partials/colors";
@import "./partials/nav";
@import "./partials/header";
@import "./partials/main";
@import "./partials/footer";
@import "./partials/form";
@import "./partials/table";

/*MEDIA-QUERIE*/
@media screen and (max-width: 768px) {
    .barraMenu ul {
        padding-right: 5px;
    }

    .logo {
        padding-left: 5px;
        scale: 50%;
    }

    .barraMenu ul li {
        padding: 5px;
        font-size: 15px;
    }

    .titulo h1 {
        font-size: 40px;
        text-shadow: 3px 3px 3px black;
    }
    
    .titulo h3 {
        font-size: 20px;
        text-shadow: 3px 3px 3px black;
    }

    .contenido {
        padding: 30px;
    }

    .contenido section p {
        width: 200px;
        font-size: 20px;
        padding-bottom: 30px;   
    }

    .contenidoExperiencias section p {
        width: 200px;
        font-size: 20px;
    }
    
    .video {
        width: 300px;
        height: 200px;
    }

    .imageDestino {
        width: 250px;
        height: 100px;
        padding: 1px;
    }

    .ciudades {
        width: auto;
    }

    .formularioItem {
        font-size: 15px;
    }

    .formularioMain {
        padding: 0;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    .formularioMain section {
        width: 300px;
    }
    
    .formularioMain section h3  {
        font-size: 30px;
    }
    
    #formularioFieldset {
        border: 3px solid crimson;
    }
    
    #submit {
        font-size: 15px;
    }
    
    #reset {
        font-size: 15px;
    }
    
    .formularioSubmit {
        font-size: 15px;
    }
}
/*FIN-MEDIA-QUERIE*/

